<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mzk.taskmanager</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/mzk/src/github.com/Morishita-mm/task-manager/task-batch/target/release/task-batch</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/mzk/src/github.com/Morishita-mm/task-manager/task-batch</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/task-manager.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/task-manager.err.log</string>
</dict>
</plist>
